In [1]:
print('Hello World')

Hello World

# ipython和jupyter notebooks基础

### Tab 补全

```
an_apple = 27
an_example = 42
an<Tab>
```

```
In [3]: b = [1,2,3]
In [4]: b.
```

```
import datetime
```

```
In [1]: import datetime

In [2]: datetime.<Tab>
```

```
In [7]:datasets/movieslens/<Tab>
```

```
In [7]:path = 'datasets/movielens/<Tab>
```

In [3]:
def func_with_keyword(abra=1,abbra=2,abbbra=3):
    return abra,abbra,abbbra

```
func_with_keyword(ab<Tab>)
```

### ?自省

In [4]:
b = [1,2,3]

In [5]:
b?

In [6]:
print?

In [7]:
def add_numbers(a,b):
    """
    Add two numbers together
    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [9]:
add_numbers?

In [11]:
add_numbers??

In [12]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.03949277575886734,
 1: -1.865929299700374,
 2: -0.17912735900574817,
 3: 1.2274957263340642,
 4: -1.4078112099655824,
 5: 0.4305630385584798,
 6: -0.29114130986416753}

In [13]:
np.*load*?

### %run 命令

```python
def f(x,y,z):
    return (x+y)/z
a = 5
b = 6
c = 7.5
result = f(a,b,c)
```

```python
%run ipython_script_test.py
```

```python
In [15]: c
Out [15]: 7.5

In [16]: result
Out[16]: 1.4666666666666666
```

```
%run -i
```

```
In [1]: %load ipython_script_test.py
```

### 中断运行的代码

```
Ctrl-C
```

### 从剪贴版中执行程序

```
%paste
%cpaste
```

### 魔法命令

In [17]:
a = np.random.randn(100,100)

In [18]:
%timeit np.dot(a,a)

757 µs ± 6.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [19]:
%debug?

In [21]:
%automagic?

In [22]:
%pwd

'/home/wxhheian/pydata'

In [23]:
foo = %pwd

In [24]:
foo

'/home/wxhheian/pydata'

### 集成matplotlib

In [26]:
%matplotlib inline

# Python语法基础

### 变量和传递参数

In [28]:
a = [1,2,3]

In [32]:
b = a        #a,b是同一对象

In [30]:
a.append(4)

In [31]:
b

[1, 2, 3, 4]

### 动态引用，强类型

In [35]:
a = 4.5
b= 2
#string formatting,to be visited later
print('a is {},b is {}'.format(type(a),type(b)))
a/b

a is <class 'float'>,b is <class 'int'>

2.25

### 属性和方法

In [36]:
a = 5
isinstance(a,int)

True

In [41]:
a = 5;b =4.5
isinstance(a,(int,float))  #检查a的类别是否在元组中
isinstance(b,(int,float))

True

In [42]:
a = 'foo'

```
a.<Tab>          #访问对象的属性和方法
```

In [43]:
getattr(a,'split')

In [3]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:  #not iterable
        return False

In [4]:
isiterable('a string')

True

In [5]:
isiterable([1,2,3])

True

In [6]:
isiterable(5)

False

In [7]:
iter('a string')

if not isinstance(x,list) and isiterable(x):
    x = list(x)

### import

```python
# some_module.py
PI = 3.14159

def f(x):
    return x+2

def g(a,b):
    return a + b
```

import some_module
result = some_module.f(5)
pi = some_module.PI

from some_module import f,g,PI
result = g(5,PI)

import some_module as sm
from some_module impot PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6,pi)

### 二元运算符和比较运算符

In [9]:
a = [1,2,3]

In [10]:
b = a

In [11]:
c = list(a)

In [12]:
a is b

True

In [13]:
a is not c

True

In [14]:
a == c

True

In [15]:
a = None

In [16]:
a is None      #只有一个None实例

True

### 可变与不可变对象

In [17]:
a_list = ['foo',2,[4,5]]

In [18]:
a_list[2] = (3,4)

In [19]:
a_list

['foo', 2, (3, 4)]

In [20]:
a_tuple = (3,5,(4,5))

In [22]:
a_tuple[1] = 'four'       #tuple doesn't support item assignment

TypeError: 'tuple' object does not support item assignment

### 数字类型

In [23]:
fval = 6.78e-5

In [24]:
print(fval)

6.78e-05

In [26]:
3//2  #取整

1

### 字符串

In [29]:
c = """
This is a longer string that
spans multiple lines
"""

In [30]:
## 字符串c实际上包含四行文本，“”“后面和lines后面的换行符

In [31]:
c.count('\n')   #有几个\n

3

In [32]:
a = 'this is string'

In [33]:
a[10] = 'f'    # str object doesn't support item assignmeng

TypeError: 'str' object does not support item assignment

In [34]:
a

'this is string'

In [35]:
#字符串是一个序列的Unicode字符

In [36]:
s = 'python'

In [37]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [38]:
s[:3]         #切片操作

'pyt'

In [39]:
s = '12\\34'    #\转义

In [40]:
print(s)

12\34

In [45]:
s =  r'this\has\no\special\characters'   #r 表示raw

In [42]:
s

'this\\has\\no\\special\\characters'

In [43]:
s1 = 'this is\\has\\no\\special\\characters'

In [44]:
print(s1)

this is\has\no\special\characters

In [46]:
template = '{0:.2f} {1:s} are worth US${2:d}'
#{0:.2f}表示格式化第一个参数为带有两位小数的浮点数
#{1:s} 表示第二个参数为字符串
#{2:d} 表示第三个参数为一个整数

In [47]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

### 字节和Unicode

In [48]:
val = "español"
val

'español'

In [50]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [51]:
type(val_utf8)

bytes

In [52]:
val_utf8.decode('utf-8')

'español'

In [53]:
val.encode('latin1')

b'espa\xf1ol'

In [54]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [55]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [56]:
a = 'a string'
a.encode('utf-8')
#utf-8与Unicode是对应的

b'a string'

In [58]:
bytes_val = b'this is bytes'     #b表示字节对象
bytes_val

b'this is bytes'

In [60]:
decoded = bytes_val.decode('utf-8')
decoded

'this is bytes'

In [61]:
s = '3.14159'

In [62]:
fval = float(s)

In [63]:
type(fval)

float

In [64]:
int(fval)

3

In [65]:
bool(fval)

True

In [66]:
bool(0)

False

### None

In [68]:
type(None)

NoneType

```python
def add_and_maybe_multiply(a,b,c=None):
    return a + b
    
    if c is not None:
        result = result * c
     
    return result
```

### 日期和时间

In [76]:
# Python内建datetime模块提供了datetime、date、time类。datetime类结合了date
# 和time

In [97]:
from datetime import datetime,date,time

In [98]:
dt = datetime(2011,10,29,20,30,21)

In [99]:
dt.day

29

In [100]:
dt.year

2011

In [101]:
dt.month

10

In [102]:
dt.second

21

In [103]:
dt.hour

20

In [104]:
dt.minute

30

In [105]:
dt.date()      #根据datetime实例，可以用date和time提取各自的对象

datetime.date(2011, 10, 29)

In [106]:
dt.time()

datetime.time(20, 30, 21)

In [107]:
#strftime方法可以将datetime格式化为字符串 参见具体datetime文档
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [108]:
#strptime可以将字符串转化为datetime对象
datetime.strptime('20191031','%Y%m%d')

datetime.datetime(2019, 10, 31, 0, 0)

In [109]:
# 当你聚类或对时间序列进行分组时，替换datetime的time字段会很有用
# 因为datetime.datetime是不可变对象，因此使用replace（）会产生新的对象
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [111]:
dt   #dt还是原来的，并没有变

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [112]:
#两个datetime对象的差会产生一个datetime.tiemdelta对象

In [113]:
dt2 = datetime(2011,11,15,22,30)

In [114]:
delta = dt2 - dt
delta

datetime.timedelta(17, 7179)

In [ ]:
#timedelta(17,7179)指明了17相差17天，7179秒

In [115]:
type(delta)

datetime.timedelta

In [116]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [117]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### 控制流

In [118]:
4 > 3 >2 >1

True

In [121]:
sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue               #continue使for循环提前，跳过本次循环剩下的部分
    total += value
print(total)

12

In [122]:
sequence = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break             #跳出整个循环
    total_until_5 += value
print(total_until_5)

13

In [123]:
for i in range(4):
    for j in range(4):
        if j > i :
            break      #break跳出最内层的所有循环
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [124]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
print(total)

504

### range

In [ ]:
# range（）返回一个迭代器，产生一个均匀分布的整数序列
# range(起点，终点，步数)

In [125]:
range(10)

range(0, 10)

In [126]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [128]:
list(range(5,0,-1))
#range产生的整数不包含终点

[5, 4, 3, 2, 1]

In [130]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [131]:
#对3和5的倍数求和
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i
print(sum)

2333316668

### 三元表达式

value = true-expr if condition else false-expr

In [132]:
x = 5

In [133]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [ ]:
#虽然三元表达式可以压缩代码，但可以降低代码可读性